<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892767368881-vci9kui6laeuj1ocud9rpaij1tan9icl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892767368881-vci9kui6laeuj1ocud9rpaij1tan9icl</string>
	<key>API_KEY</key>
	<string>AIzaSyC-sCNV1x4ejPaukb_DfvI7dCQx7Ly8sp0</string>
	<key>GCM_SENDER_ID</key>
	<string>892767368881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brandondowless.GearHeads</string>
	<key>PROJECT_ID</key>
	<string>gearheads-5123c</string>
	<key>STORAGE_BUCKET</key>
	<string>gearheads-5123c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892767368881:ios:2ad3611fdda72f7462d490</string>
</dict>
</plist>